<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendaily2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6512693669678036~7373538420"/>


        <activity
            android:name=".activitysnotas.AgregarNota"
            android:exported="true" />
        <activity
            android:name=".diario.AgregarDiario"
            android:exported="true" />
        <activity
            android:name=".calendario.Calendario"
            android:exported="true" />
        <activity
            android:name=".activitysnotas.Notas"
            android:exported="true" />
        <activity
            android:name=".avisos.Avisos"
            android:exported="true" />
        <activity
            android:name=".diario.Diarios"
            android:exported="true" />
        <activity
            android:name=".activitys.Menus"
            android:exported="true" />
        <activity
            android:name=".activitys.Autenticacion"
            android:exported="true" />
        <activity
            android:name=".activitys.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.agendaily2.avisos.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name="com.example.agendaily2.avisos.NotificationService"
            android:enabled="true" />
    </application>

</manifest>